<nav class="px-3 navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="d-flex">
    <a class="navbar-brand" routerLink="/"><i class="bi bi-cloud-sun-fill mx-2"></i>Weather App</a>
    <div class="d-flex align-items-center gap-2 mt-1">
      <app-toggle-button id="darkMode" (onChangeState)="toggleMode()" [value]="isDarkMode"></app-toggle-button>
      <label for="darkMode" class="text-white f-14 mb-1">Dark mode</label>
    </div>
  </div>
  <button class="navbar-toggler" type="button" (click)="menu = !menu">
    &#9776;
  </button>
  <div [ngbCollapse]="menu" class="collapse navbar-collapse d-lg-flex justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="favorites"
           routerLinkActive="active"
           (click)="menu = true"><i class="bi bi-star-fill"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="weather"
           routerLinkActive="active"
           (click)="menu = true"><i class="bi bi-house-fill"></i></a>
      </li>
    </ul>
  </div>
</nav>

