<div class="card-wrapper mt-2 pt-4 pb-4">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <img class="weatherIcon"
           [ngSrc]="weatherHelper.getWeatherIconLink(weather.currentWeather.WeatherIcon)"
           alt="weather icon"
           width="75" height="45">
    </div>
    <div>
      <h4>{{ weather.state }}, {{ weather.country }}</h4>
      <span *ngIf="isCelsiusType">
        {{weatherHelper.getCTemperatureString(weather.currentWeather.Temperature.Metric)}}
      </span>
      <span *ngIf="!isCelsiusType">
        {{weatherHelper.getFTemperatureString(weather.currentWeather.Temperature.Imperial)}}
      </span>
    </div>
    <div>
      <button (click)="isFavorite() ? removeFavorite() : addFavorite()"
              [ngClass]="isFavorite() ? 'btn btn btn-danger' : 'btn btn btn-success'">
        {{ isFavorite() ? 'Remove from' : 'Add to' }} Favorites
      </button>
      <app-toggle-button (onChangeState)="setTemperatureType($event)" class="d-block" [trueText]="'Celsius'"
                         [falseText]="'Fahrenheit'"></app-toggle-button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 text-center">
      <h1>{{ weather.currentWeather.WeatherText }}</h1>
      <h4>Forecast: <br> {{ weather.forecast.Headline.Text }}</h4>
    </div>
  </div>
  <div class="row mt-4 d-flex justify-content-around">
    <div *ngFor="let forecast of weather.forecast.DailyForecasts; let i = index"
         class="col-5 col-lg-2 m-1 text-center p-2 text-wrap mt-2">
      <app-forecast [iconUrl]="weatherHelper.getForecastIcon(weather,i)"
                    [date]="forecast.Date"
                    [text]="weatherHelper.getCurrentForecastText(weather,i)"
                    [tempRange]="weatherHelper.getTemperatureRange(forecast,isCelsiusType)"></app-forecast>
    </div>
  </div>
</div>
