<div class="card-wrapper p-2 d-flex flex-column align-items-center pointer"
     (click)="navigate()">
  <button (click)="removeFavorite()" class="btn align-self-start">
    <i class="bi bi-trash3-fill f-18 text-red"></i>
  </button>
  <h4>{{ weather.state }}</h4>
  <h5>{{ weather.country }}</h5>
  <img class="weatherIcon"
       width="75"
       height="45"
       [ngSrc]="weatherHelper.getWeatherIconLink(weather.currentWeather.WeatherIcon)"
       alt="icon"/>
  <p>{{ weather.currentWeather.WeatherText }}</p>
  <p class="mb-2">
    {{ weatherHelper.getCTemperatureString(weather.currentWeather.Temperature.Metric) }}
  </p>
  <p>{{ weather.currentWeather.LocalObservationDateTime | date:'EEEE'}}</p>
</div>
