<div class="card-wrapper p-2">
  <h4>{{ weather.state }}</h4>
  <h5>{{ weather.country }}</h5>
  <img class="weatherIcon"
       width="75"
       height="45"
       [ngSrc]="weatherHelper.getWeatherIconLink(weather.currentWeather.WeatherIcon)"
       alt="icon"/>
  <p class="forecast-text">{{ weather.currentWeather.WeatherText }}</p>
  <p class="mb-2">
    {{ weatherHelper.getCTemperatureString(weather.currentWeather.Temperature.Metric) }}
  </p>
  <p>{{ weather.currentWeather.LocalObservationDateTime | date:'EEEE'}}</p>
  <button (click)="removeFavorite()" class="btn btn-danger">
    Remove from Favorites
  </button>
</div>
