@import "src/styles.scss";

.difficulty {
  display: flex;
  justify-content: center;
  border: solid 1px #b7b7b7;
  border-radius: 15px 0 0 15px;
  cursor: pointer;
  margin-bottom: 2rem;

  & div {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 200ms;

    &:hover {
      background-color: lighten($light-blue, 20%);
      color: #000e17;
    }
  }

  :nth-child(1) {
    border-radius: 15px 0 0 15px;
  }

}

input {
  height: 2.6rem;
  padding-left: 1rem;
  border-top: solid 1px #b7b7b7 !important;
  border-bottom: solid 1px #b7b7b7 !important;
  border-right: solid 1px #b7b7b7 !important;
  border-left: unset !important;
  box-shadow: unset;
  border-radius: 0 15px 15px 0;
  margin: 0;
  color: #a1a1a1;
  &::placeholder {
    color: #a1a1a1;
  }

  &:focus {
    outline: none !important;
  }

  &.error {
    border-top: solid 1px $red !important;
    border-bottom: solid 1px $red !important;
    border-right: solid 1px $red !important;
    border-left: solid 1px $red !important;
    background: lighten($light-red, 20%);
    animation: tiny-wiggle 3 100ms;
  }

  &.success {
    border-top: solid 1px $green !important;
    border-bottom: solid 1px $green !important;
    border-right: solid 1px $green !important;
    border-left: solid 1px $green !important;
    background: lighten($light-green, 20%);
    animation: tiny-wiggle 3 100ms;
  }
}

.bi-check-lg {
  color: $green;
}

.bi-exclamation-lg {
  color: $red;
}

.bi-exclamation-lg, .bi-check-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  position: relative;
  right: 15px;
  width: 0;
  animation: wiggle 10 100ms;
  height: 41px;
}

.tiny-wiggle {
  animation: ring 2.5s infinite;
}

@keyframes ring {
  10% { rotate: 1deg; transform: translateX(2px) }
  13% { rotate: -1deg; transform: translateX(-2px) }
  16% { rotate: 1deg; transform: translateX(2px) }
  19% { rotate: -1deg; transform: translateX(-2px) }
  22% { rotate: -1deg; transform: translateX(2px) }
  25% { rotate: -1deg; transform: translateX(-2px) }
  28% { rotate: -1deg; transform: translateX(2px) }
  31% { rotate: 0deg }
}

@keyframes tiny-wiggle {
  10% {
    rotate: 1deg
  }
  100% {
    rotate: -1deg
  }
}

@keyframes wiggle {
  10% {
    rotate: 10deg
  }
  100% {
    rotate: -10deg
  }
}

@media (max-width: 512px) {
  input {
    padding-left: 5px;
  }
  input::placeholder {
    font-size: 12px;
  }
}
