@import "src/styles";

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightblue;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  left: 2.5px;
  bottom: 2.5px;
  background-color: #ffdf64;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 0 2px 0 rgba(255,227,123,1);
}

input:checked + .slider:before {
  background-color: #d4e5ff;
  box-shadow: 0 0 2px 0 #d4e5ff;
}


input:checked + .slider {
  background-color: #002665;
}

input:checked + .slider:before {
  transform: translateX(15px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
